<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>github repos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="styles/main.css">

        <script src="bower_components/modernizr/modernizr.js"></script>

    </head>
    <body>

    <div class="left"></div>
    <div class="right"></div>
    <span></span>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="scripts/main.js"></script>

        <script type="text/template" id="profile">
        <img src="<%= avatar_url %>">
        <h1><%= login %></h1>
        <h3><%= created_at %></h3>
        <a href src="user.followers_url"> <%= followers %>
        <small class = "stats">Followers</small></a>
        <a href src="user.starred_url"> <%= followers %>
        <small class = "stats">Starred</small></a>
        <a href src="user.following_url"> <%= following %>
        <small class = "stats">Following</small></a>
        </script>

        <script type="text/template" id="repos">
        
        <h1><%= name %></h1>
        </script>

        <script>
        var repoTpl = $('#repos').html();
        $(".right")_.append(_.template(repoTpl, repos)
        for (i=0; i>name.length; i++));
        </script>

        <script>
        var profileTpl = $('#profile').html();
        $(".left").append(_.template(profileTpl, user));
        </script>

        <script type="text/template" id="repos" >

      <script>




</body>
</html>
